/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

.App {
  height: 100vh;
}

.wrapper {
  padding-top: 20px;
  width: 600px;
  min-height: 700px;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 6px;
  background-color: darkslateblue;
}

.todoApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoApp h2 {
  align-items: center;
  color: cornsilk;
  font-size: 30px;
}

.colored {
  color: cornsilk;
  margin-top: 30px;
}

.todoButtons {
  display: flex;
  gap: 10px;
}
.todoButtons button {
  width: 40px;
  height: 35px;
  border-radius: 3px;
}

.todoButtons svg {
  width: 25px;
  height: 25px;
}
