.formTodo {
  padding: 10px 0px;
  text-align: center;
}

.formTodo input {
  border-bottom: 1px solid grey;
  height: 26px;
  width: 190px;
  border-radius: 3px;
  padding-left: 2px;
}

.formTodo button {
  margin-left: 10px;
  height: 25px;
  width: 60px;
  font-size: 13px;
  border-radius: 3px;
}
